* {
    font-family: 'Roboto', serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header-top, #header-links, .header-content, .info-content, .footer, .quote, .sign-box {
    display: flex;
}

.header-top a, #title-top, #title-descript, .title-text a {
    color: white;
}

/* End Defaults - Start Header Top */

.header {
    background-color: #1f2937;
    padding: 30px;
    padding-left: 300px;
    padding-right: 300px;
}

.header-top {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.header-top a {
    text-decoration: none;
}

#logo {
    font-weight: 700;
    font-size: 25px;
}

#header-links {
    gap: 30px;
    font-size: 20px;
}

/* End Header Top - Start Header Content */

.header-content {
    margin-bottom: 100px;
}

.title-text {
    margin-top: auto;
    margin-bottom: auto;
}

#title-top {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 20px;
}

#title-descript {
    margin-right: 100px;
    font-size: 20px;
    margin-bottom: 50px;
}

.title-text a {
    text-decoration: none;
    font-size: 20px;
    background-color: #3882f6;
    border-radius: 10px;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
}

#by-strar {
    font-size: 20px;
    margin-left: 15px;
}

/* End Header Content - Start Main Content */

.main-content {
    text-align: center;
    margin: 50px;
}

.main-title {
    margin: 50px;
    font-size: 50px;
    font-weight: 700;
}

.info-content {
    justify-content: center;
    gap: 50px;
}

.info-content div {
    width: 200px;
}

.info-content img {
    height: 200px;
    border-radius: 10px;
    margin-bottom: 15px;
}

/* End Main Content - Start Quote */

.quote {
    background-color: #e5e7eb;
    padding: 100px;
    padding-left: 300px;
    padding-right: 300px;
    margin-top: 100px;
    margin-bottom: 100px;
    flex-direction: column;
}

.quote-text {
    font-size: 30px;
}

.author {
    margin-left: auto;
    font-weight: 700;
    font-size: 24px;
    margin-left: auto;
}

/* End Quote - Start Sign Box */

.sign-box {
    background-color: #3882f6;
    color: white;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin: 100px;
    width: 1000px;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    gap: 150px;
}

#join-ad {
    font-weight: 700;
    border: 5px;
}

.sign-box a {
    color: white;
    text-decoration: none;
    border: 2px solid #e5e7eb;
    border-radius: 10px;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
}

/* End Sign Box - Start Footer */

.footer {
    background-color: #1f2937;
    color: white;
    padding: 50px;
    justify-content: center;
}